<%- include("partials/header"); -%>

<% volunteer_data.forEach(function(post){ %>

<div style="margin: 100px 300px;">
  <div>
    <%= post.image %>
  </div>
  <p> <u><b>Caption 1:</b></u> <%= post.volunteer_caption_one %> </p>
  <p> <u><b>Caption 2:</b></u> <%= post.volunteer_caption_two %> </p>
  <p> <u><b>Caption 3:</b></u> <%= post.volunteer_caption_three %> </p>
  <p> <u><b>Caption 4:</b></u> <%= post.volunteer_caption_four %> </p>

  <div class="container">
     <div class="row">
         <div class="col-sm-5 col-md-6">
             <button type="button" class="btn btn-primary btn-sm">Accept</button>
          </div>
         <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
             <button type="button" class="btn btn-primary btn-sm">Reject</button>
          </div>
      </div>
  </div>
</div>
<% }) %>

<%- include("partials/footer"); -%>
