<%- include("partials/header");-%>
<div class="container mb-3">
  <h1 class="m-4"><i class="fas fa-user-circle mr-4"></i>Dashboard</h1>
  <table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th ><i class="fas fa-circle mr-2"></i>User Details</th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <th><i class="fas fa-signature mr-2"></i>Name</th>
    <td><%= userId.name %></td>
   </tr> 
   <tr>
      <th><i class="fas fa-envelope mr-2"></i>Email</th>
      <td><%= userId.email %></td>
    </tr>
    
    <tr>
      <th><i class="fas fa-coins mr-2"></i>Reward Points</th>
      <td><%= userId.rewards %></td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary btn-block col-12 col-sm-2" data-toggle="modal" data-target="#exampleModalCenter">
  Edit Details
</button>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/users/update/details" method="post">
          <div class="form-group">
            <label for="username">
              New Username
            </label>
            <input type="text" name="name" id="" value="<%= userId.name %>">
          </div>
           <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<% if(typeof data == undefined || data == null || data.length == 0) { %>
  <div class="container shadow text-center py-5">
    <h1 class="">Oops! You haven't tested our model!</h1>
    <p>Give it a try.</p>
    <a href="/users/upload" class="btn btn-warning">Test Now</a>
  </div>
  <%}else{  %>
    <div class="container mt-5">
      <div>
        <h1 class="m-4"><i class="far fa-closed-captioning mr-4"></i>Your Testing</h1>
      </div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Type</th>
      <th scope="col">Date Testes</th>
      <th scope="col">Output</th>
    </tr>
  </thead>
  <tbody>
    <% var i = 0; %> 
    <% data.searches.forEach(item => { %> 
      <% i = i+1; %> 
      <tr class="align-self-center">
      <th scope="row"><%= i %></th>
      <td><img src="<%= item.cloudinary_url%>" alt="Image" style="width: 100px;height: 100px"></td>
      <td><%= item.mimetype %></td>
      <td><%= item.createdAt%></td>
      <td><%= item.output %></td>
    </tr>
    <%}) %> 
  </tbody>
</table>
</div>
    <% } %>   
  <%- include("partials/footer"); -%>
</div>
